@model IEnumerable<TravelPacker.Models.TravelItem>

@foreach (var item in Model)
{
    <div class="item">
    <span>Created By: @item.UserName on @item.CreatedDate.ToLocalTime()</span>
    @* <span>Last Updated: @sub.LastUpdated.ToLocalTime()</span> *@
    <div>
        @item.ItemTitle
        @item.ListTypeId
        @item.UpdatedDate
    </div>
    @* @if (User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(c => c.Type ==
        System.Security.Claims.ClaimTypes.NameIdentifier).Value == @item.UserId)
        { *@
    <a asp-action="Edit" asp-route-id="@item.Id">edit</a>
    <a asp-action="Delete" asp-route-id="@item.Id">delete</a>
    @* } *@
</div>
}
<hr />
<a class="create" asp-action="Create">Add New Idea</a>