@model TravelPacker.Models.CreateItemsViewModel

<h2>Trip Types</h2>
<div class="form-group">
    <label class="control-label">Choose a trip to view items:</label>
    <select class="form-control" asp-for="ListTypeId" asp-items="@Model.SelectListType">
        <option value="@Model.ListTypeId">-- Select a List --</option>
    </select>
</div>

<div id=itemListDiv hidden="true">
    @Html.PartialAsync("_ItemList", @Model.TravelItem)
</div>

@section scripts {
<script>
    $(function () {
        $('#ListTypeId').on('change', function(event) {
            console.log('HALLO BABY!!!');
            event.preventDefault();
            event.stopPropagation();

            var listTypeId = $('#ListTypeId').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("_ItemList", "TravelItem")',
                data: { listTypeId: listTypeId },
                dataType: "html",
                success: function (data) {
                    console.log("Success!");
                    $('#itemListDiv').html(data);
                    $('#itemListDiv').show();
                },
                error: function () {
                    alert("Error while populating ItemList.");
                }
            });
            return false;
        });
    }) 

</script>

}

